# Skopiuj do .env lub .env.local i uzupełnij ANON_KEY.
# Klucz anon: Supabase → Project Settings → API → anon public

NEXT_PUBLIC_SUPABASE_URL=https://lntzznqxncyyqrqupgml.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
